RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC]
RewriteRule error error.php [NC]
RewriteRule confirm confirm.php [NC]
RewriteRule user user.php [NC]
ErrorDocument 404 index.html [NC,L]