.bg{
    &-black{
        background-color: $color-black;
    }
}
.font{
    &-header{
        font-family: $font-header;
    }
    &-logo{
        font-family: $font-logo;
    }
}
.index{
    &-s1{
        @include set-bg-cover($index-s1-bg);
    }
    &-s2{
        @include set-bg-bottom-center($index-s2-bg);
    }
    &-s4{
        @include set-bg-bottom-center($index-s4-bg);
    }
    &-s5{
        @include set-bg-bottom-center($index-s5-bg);
    }
}
.modal-dialog{
    cursor: pointer;
    max-width: 75% !important;
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.overlay-fade{
    &:hover{
        opacity: 0.7;
    }
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}
.text{
    &-shadow{
        &-black{
            text-shadow: $shadow-black;
        }
        &-gray{
            text-shadow: $shadow-gray;
        }
    }
}

textarea{
    resize: none;
}

@media all and (max-width: 575px){
    .navbar-collapse{
        border: 1px solid #666;
        backdrop-filter: blur(15px);
        padding: 20px;
        z-index: 10;
    }
}